
.trns-text {
        background-color:rgba(245, 245, 245, 0.842);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        border-radius: 50px 0 50px 50px;

      }
      .serv-img{
        border-radius: 20px 0 20px 20px;
        
      }